<aside class='menus-section' data-test-menus>
  <ul class='menus'>
    <li class='menu-item'><LinkTo @route="index" class="menu-link">Dashboard</LinkTo></li>
    <li class='menu-item'><LinkTo @route="contacts" class="menu-link">Contacts</LinkTo></li>
    <li class='menu-item'><LinkTo @route="favourites" class="menu-link">Favourites</LinkTo></li>
  </ul>
</aside>