<div class='navbar' data-test-navbar>
  {{! template-lint-disable require-valid-alt-text }}
  <img src='/images/logo.png' alt='image' class='navbar-img app-logo' />
  <div class='navbar-right'>
    <img
      src='/images/profile.png'
      alt='profile'
      class='navbar-img profile-image'
    />
  </div>
</div>