<div class='nothing-template'>
  <div class='nothing-content'>
    <img
      src='https://assets-v2.lottiefiles.com/a/0e30b444-117c-11ee-9b0d-0fd3804d46cd/BkQxD7wtnZ.gif'
      width='130'
      height='130'
      alt='Not found'
      class='img-fluid mb-4 mr-3'
    />
    <h3><strong>Nothing in favourites!</strong></h3>
    <LinkTo @route='contacts'>
      <h4>Click here to add favourites</h4>
    </LinkTo>
  </div>
</div>